html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  margin: 0;

  font-family: Poppins, Arial, sans-serif;
  color: var(--color-six);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3, h4 {
  margin: 0;
}